.product-detail {
    .product-afterpay-message {
        .afterpay-link {
            border: 1px solid $white-smoke;
            display: inline-block;
            padding: 5px 10px;
        	cursor: pointer;
        }
    }
}
