.product-afterpay-message {
    a,
    .afterpay-link {
        color:  $nobel;
        cursor: pointer;
    }

    .afterpay-image {
        height: 15px;
        vertical-align: middle;
        width: 70px;
    }
}